<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
		<link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css' />
		<link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
			<a href="/">Back to main</a>
      <form method="post" action="" id="newUserForm" class="form-group">
          <p>Add new user</p>
          <input type="text" placeholder="new user name" id="newUser" name="newUser" class="form-control">
          <input type="password" placeholder="new password" id="newPsw" name="newPsw" class="form-control">
          <button class="btn btn-default">Add User</button>
      </form>
    </div>
  </body>
</html>